#lightbrown, #darkbrown, #yellow, #lightgreen, #darkgreen, #blue {
    color: black;
}

#lightbrown {
    background: #facd9b;
    font-family: Serif;
    font-size: 26px;
}

#darkbrown {
    background: #d28c47;
    font-family: Serif;
    font-size: 26px;
}

#yellow {
    background: #f7e5b7;
    font-family: Serif;
    font-size: 26px;
}

#lightgreen {
    background: #e7f7d4;
    font-family: Serif;
    font-size: 26px;
}

#darkgreen {
    background: #daefbc;
    font-family: Serif;
    font-size: 26px;
}

#blue {
    background: #b7d4f7;
    font-family: Serif;
    font-size: 26px;
}

.square {
    min-width: 75px;
    min-height: 75px;
}
